.main-container {
  background: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
}

#expense {
  max-width: 900px;
}

.chart {
  display: table;
  table-layout: fixed;
  width: 60%;
  max-width: 300px;
  height: 200px;
  margin: 0 auto;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.07) 2%,
    rgba(255, 255, 255, 0.07) 2%
  );
  background-size: 100% 50px;
  background-position: left top;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}
.chart span {
  width: 50%;
  margin: 0 auto;
  max-width: 100px;
  margin: 0 1em;
  display: block;
  background: rgb(36, 170, 86);
  animation: draw 1s ease-in-out;
}
.chart .expense-bar {
  background: tomato;
}
.chart span:before {
  position: absolute;
  left: 0;
  top: 100%;
  text-align: center;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
  color: white;
}

@keyframes draw {
  0% {
    height: 0;
  }
}

.incORexp {
  width: 80px;
}
form > * {
  margin: 2px;
}
